* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.place-details {
  margin-bottom: 20px;
}

.place-details h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
}

.place-info {
  width: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}

.place-image-large {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.place-info p {
  margin-bottom: 10px;
}

.reviews {
  margin-bottom: 20px;
  text-align: left;
}

.reviews h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: x-large;
}

.review-card {
  width: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
}

.review-card p {
  margin-bottom: 10px;
}