<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Place Details</title>
  <link rel="icon" href="static/icon.png">
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  {% include 'header.html' %}
  <main>
    <section id="place-details" class="place-details">
      <h1>Beatiful Beach House</h1>

      <section id="place-info" class="place-info">
        <a><img src="static/logo.png" alt="Place Image" class="place-image-lage"></a>

        <p><strong>Host: </strong>John Doe</p>
        <p><strong>Price per night: </strong>$150</p>
        <p><strong>Location: </strong>Los Angeles, United States</p>
        <p><strong>Description: </strong>A beatiful beach house with amazing views...</p>
        <p><strong>Amenities: </strong>WiFi, Pool, Air Conditioning</p>
      </section>
    </section>

    <section id="reviews" class="reviews">
      <h2>Reviews</h2>

      <section class="review-card">
        <p><strong>Jane Smith:</strong></p>
        <p>Great place to stay!</p>
        <p>Rating: &#9733;&#9733;&#9733;&#9733;&#9734;</p>
      </section>

      <section class="review-card">
        <p><strong>Robert Brown:</strong></p>
        <p>Amazing location and very comfortable.</p>
        <p>Rating: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
      </section>
    </section>

    {% include 'add_review.html' %}
  </main>
  {% include 'footer.html' %}
  <script src="static/scripts.js"></script>
</body>

</html>