<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Place Details</title>
  <link rel="icon" href="static/images/icon.png">
  <link rel="stylesheet" href="static/styles/styles_place.css">
</head>

<body>
  {% include 'header.html' %}
  <main>
    <section id="place-details" class="place-details">
      <h1>Beautiful Beach House</h1>

      <section id="place-info" class="place-info">
        <a><img src="static/images/logo.png" alt="Place Image" class="place-image-large"></a>

        <p class="bold-first-words">Host: John Doe</p>
        <p class="bold-first-words">Price per night: $150</p>
        <p class="bold-first-words">Location: Los Angeles, United States</p>
        <p class="bold-first-words">Description: A beautiful beach house with amazing views...</p>
        <p class="bold-first-words">Amenities: WiFi, Pool, Air Conditioning</p>
      </section>
    </section>

    <section id="reviews" class="reviews">
      <h2>Reviews</h2>

      <section class="review-card">
        <p class="bold-first-words">Jane Smith:</p>
        <p>Great place to stay!</p>
        <p>Rating: &#9733;&#9733;&#9733;&#9733;&#9734;</p>
      </section>

      <section class="review-card">
        <p class="bold-first-two-words">Robert Brown:</p>
        <p>Amazing location and very comfortable.</p>
        <p>Rating: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
      </section>
    </section>

    {% include 'add_review.html' %}
  </main>
  {% include 'footer.html' %}
  <script src="static/scripts/scripts.js"></script>
</body>

</html>